<launch>

	<arg name="project" default="tdar_lio_sam"/>

    <param name="robot_description" command="$(find xacro)/xacro $(find tdar_lio_sam)/launch/include/config/robot.urdf.xacro --inorder" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true">
        <!-- <param name="tf_prefix" value="$(env ROS_HOSTNAME)"/> -->
    </node>
  
</launch>